In [5]:
class test():
    def show(self):
        print("Hello from outside")
class test1(test):
    def show(self):
        super().show()
        print("Hello base")

In [6]:
x=test1
x().show()

Hello from outside
Hello base

In [9]:
import numpy as np
import pandas as pd

In [10]:
a=[1,2,3,4,5,6,7,8,9]
print(type(a))

<class 'list'>

In [11]:
c=np.array(a)

In [12]:
c

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [13]:
c.ndim

1

In [17]:
c=np.array(a,ndmin=2)

In [18]:
c

array([[1, 2, 3, 4, 5, 6, 7, 8, 9]])

In [20]:
c=np.arange(24)

In [21]:
c.reshape(2,3,4)

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

In [23]:
c.ndim

1

In [27]:
x=c.reshape(2,3,2,2)

In [28]:
x.ndim

4

In [30]:
a=np.array([[1,2],[3,4]])
b=np.array([[5,6],[7,8]])

In [31]:
a

array([[1, 2],
       [3, 4]])

In [34]:
c=np.concatenate((a,b),axis=1)

In [35]:
c

array([[1, 2, 5, 6],
       [3, 4, 7, 8]])

In [37]:
c=np.hstack((a,b))

In [38]:
c

array([[1, 2, 5, 6],
       [3, 4, 7, 8]])

In [41]:
c=np.vstack((a,b))

In [42]:
c

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

In [43]:
c=np.concatenate((a,b),axis=0)

In [44]:
c

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

In [49]:
c=np.arange(1,37)

In [50]:
c

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36])

In [52]:
x=c.reshape(6,6)

In [53]:
x

array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12],
       [13, 14, 15, 16, 17, 18],
       [19, 20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29, 30],
       [31, 32, 33, 34, 35, 36]])

In [55]:
df=pd.DataFrame(x)

In [56]:
df

    0   1   2   3   4   5
0   1   2   3   4   5   6
1   7   8   9  10  11  12
2  13  14  15  16  17  18
3  19  20  21  22  23  24
4  25  26  27  28  29  30
5  31  32  33  34  35  36

In [60]:
c

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36])

In [61]:
c

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36])

In [64]:
x[2:5,:3]

array([[13, 14, 15],
       [19, 20, 21],
       [25, 26, 27]])

In [65]:
x[1:5,2:5]

array([[ 9, 10, 11],
       [15, 16, 17],
       [21, 22, 23],
       [27, 28, 29]])

In [66]:
x[[0,0,2,2,4,4],[0,2,0,2,0,2]]

array([ 1,  3, 13, 15, 25, 27])

In [67]:
x[[[0,0,2],[2,2,4]],[[0,2,0],[2,0,2]]]

array([[ 1,  3, 13],
       [15, 13, 27]])

In [68]:
x.ndim

2

In [71]:
d=pd.DataFrame(x[[[0,0,2],[2,2,4]],[[0,2,0],[2,0,2]]])

In [72]:
d

    0   1   2
0   1   3  13
1  15  13  27

In [73]:
x.shape

(6, 6)

In [74]:
a

array([[1, 2],
       [3, 4]])

In [75]:
b

array([[5, 6],
       [7, 8]])

In [76]:
p=np.dot(a,b)

In [77]:
p

array([[19, 22],
       [43, 50]])